.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Recipes index page */
.Recipes-view-page {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 80px;

}

.recipes-detail-block {
  border-color: black 5px;
box-sizing: content-box;
width: 300px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  color: #f3ac83;
  padding-left: 30px;
  padding-right: 30px;
  border: 5px solid;
  margin: 50px;
}

.recipes-detail-title {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recipes-details-pic {
max-width: 150px;
max-height: 200px;
padding: 10px;
}

/* Recipe view page*/
.Recipe-view-page {
  margin-left: auto;
  margin-right: auto;

}

.recipe-view-details {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  color: #f3ac83;
  padding-left: 30px;
  padding-right: 30px;
  border: 5px solid;
  margin: 25px;
}

.recipe-view-name {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recipe-view-img {
  max-width: 350px;
  padding: 10px;
}

.recipe-view-instructions {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: left;
  padding: 10px;
  border: #f3ac83 solid;
}

.recipe-view-button {
  display: inline;
  margin: 10px;
}

/* Recipe update page */

.updateRecipe-container {
  width: 100%;
    min-height: 100vh;
    display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
    padding: 15px;
    background: silver;
}

.updaterecipe-title {
display: inline-block;
margin: 20px;
}

.update-form {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: beige;
}
/* update input name */
.update-input-name {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}

.update-input-title {
  font-family: sans-serif;
    font-size: 10px;
    color: #393939;
    line-height: 2;
    text-transform: uppercase;
}

.input-name {
  display: block;
    width: 100%;
    background: 0 0;
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    line-height: 1.75;
    border-color: black;
    border-radius: 13px;
}

/* update input picture */

.update-input-pic {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}

/* update inpute type */

.update-input-type {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}
/* update input instuction */

.update-input-instructions {
  width: 100%;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}

/* update submit button */

.submit-form-button {
  background: #B9DFFF;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
margin-bottom: 20px;
}

/* Navbar */

.nav-bar{
  background-color: #F1CA7B;
  position: sticky;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
}


.home-button:hover{
  transition-duration: 1s;
  background-color: #F3AC83;
  border-radius: 10px;
}

.my-recipes:hover{
  transition-duration: 1s;
  background-color: #E6986A;
  border-radius: 10px;
}

.drop-down:hover{
background-color: #E6986A;
transition-duration: 1s;
border-radius: 10px;
}

/* Home page */



/* Create Page */

.create-Recipe-page{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  color: #f3ac83;
  padding-left: 30px;
  padding-right: 30px;
  border: 5px solid;
  margin: 50px;
}

.createForm{
  margin: 50px;
}

.create-title{
  margin:30px
}

.horizontal-line{
  border: 5px solid orange;
  width: 100px;
  margin: auto;
  border-radius: 5px;
}

.button{
  margin: 36px; 
}


