.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.nav-bar{
  background-color: #F1CA7B;
  position: sticky;
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
}


.home-button:hover{
  transition-duration: 1s;
  background-color: #F3AC83;
  border-radius: 10px;
}

.my-recipes:hover{
  transition-duration: 1s;
  background-color: #E6986A;
  border-radius: 10px;
}

.drop-down:hover{
background-color: #E6986A;
transition-duration: 1s;
border-radius: 10px;
}

/* Home page */

.home-page{
 
}

/* Create Page */

.create-Recipe-page{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  color: #f3ac83;
  padding-left: 30px;
  padding-right: 30px;
  border: 5px solid;
  margin: 50px;
}

.createForm{
  margin: 50px;
}

.create-title{
  margin:30px
}

.horizontal-line{
  border: 5px solid #F1CA7B;
  width: 1200px;
  margin: auto;
  border-radius: 5px;
}

.button{
  margin: 36px;
}

